.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
}

.btn,
a {
    background-color: cornflowerblue;
    color: whitesmoke;
    border-radius: 5px;
    border: None;
    cursor: pointer;
    text-align: center;
    text-decoration-line: none;
}

.btn:hover,
a:hover {
    color: darkblue;
    background-color: white;
}

.box-pad {
    padding: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.box {
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
}


/* .mt-2 {
    margin-top: 8px!important;
} */