@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.social-container {
    position: relative;
    margin: 20px 0;
}

span {
    font-size: 14px;
    padding-bottom: 15px;
}

a {
    border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
    width: 40px;
    
    z-index: 10;
}