<table #archiveTable class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">Caption</th>
            <th class="th-sm">Sharable Link</th>
            <th class="th-sm"><i class="fas fa-edit"></i>Update</th>
            <th class="th-sm"><i class="fas fa-trash-alt"></i>Delete</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let code of codes">
            <td>{{code['caption']}}</td>
            <td>{{code['link']}}</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <th>Name</th>
            <th>Sharable Link</th>
        </tr>
    </tfoot>
</table>