.container {
    width: 100%;
    height: 700px;

    padding: 10px;
}

.head {
    box-sizing: border-box;
    display: block;
    background-color: gray;
}

.left {float: left;}

.right {float: right;}